<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="theme-color" content="THEME_COLOUR" />
  <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
{% for cssfile in site_css %}
  <link href="{{ cssfile }}" rel="stylesheet">
{% endfor %}
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow-night.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>
<body class="BASE_COLOUR BASE_TEXT">
{% if mobiletoggle == false %}
{% set pageclass = " bigmenu" %}
{% endif %}
  <header class="{{ pageclass }}">
  <nav class="NAV_COLOUR" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">{{ logo }}</a>
{% block navbar %}
{% if mobiletoggle != false %}
{% set active_page = active_page|default('index') -%}
      <ul class="right hide-on-med-and-down">
        {% for section_href, section_id, section_caption, section_hassub, navbar_section in navbar %}
        {% if section_hassub == true %}
        <li{% if section_id == active_section %} class="active"{% endif %}>
          <a href="{{ section_href|e }}">{{ section_caption }}</a>
          <!--
          <ul>
            {% for href, id, caption in navbar_section %}
            <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption }}</a></li>
            {% endfor %}
          </ul>
          -->
        </li>
        {% else %}
        <li{% if section_id == active_section %} class="active"{% endif %}>
          <a href="{{ section_href|e }}">{{ section_caption }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
{% else %}
      <ul id="nav-mobile" class="side-nav fixed">
{% endif %}
        {% for section_href, section_id, section_caption, section_hassub, navbar_section in navbar %}
        {% if section_hassub == true %}
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-NAV_COLOUR{% if section_id == active_section %} active{% endif %}">{{ section_caption }}</a>
                <div class="collapsible-body">
                    <ul>
                        <!--<li><a href="{{ section_href|e }}">{{ section_caption }}</a>-->
                    {% for href, id, caption in navbar_section %}
                        {% if href != section_href %}
                        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="bold{% if section_id == active_section %} active{% endif %}">
          <a href="{{ section_href|e }}">{{ section_caption }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
{% endblock %}
{% block body %}
  </header>
  <main class="{{ pageclass}}">
{% if show_title == True %}
<div class="container">
    {% if page.title is not none %}
<h1 class="header HEADER_ALIGN HEADER_TEXT">{{ page.title }}</h1>
    {% endif %}
{% endif %}

{{ htmlbody }}

{% if show_title == True %}
</div>
{% endif %}
{% endblock %}

  </main>
  <footer class="page-footer FOOTER_COLOUR{{ pageclass }}">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">{{ about_title }}</h5>
            <p class="FOOTER_TEXT">{{ about }}</p>


        </div>
        {% for blockname in linkblocks %}
            <div class="col l3 s12">
              <h5 class="LINKBLOCK_TEXT">{{ linkblocks[blockname]['title'] }}</h5>
              <ul>
              {% for link in linkblocks[blockname]['links'] %}
                <li><a class="LINKBLOCK_TEXT" href="{{ linkblocks[blockname]['links'][link]['url'] }}">{{ linkblocks[blockname]['links'][link]['title'] }}</a></li>
              {% endfor %}
              </ul>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          {{ footer }}
          {# Made by <a class="HIGHLIGHT_COLOUR-text text-lighten-3" href="http://materializecss.com">Materialize</a> #}
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
