/* paragoo material */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com, Michiel Scholten
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

h1
{
    font-size: 3.5em;
}

h2
{
    font-size: 2.5rem;
}

h3
{
    font-size: 2rem;
}

a
{
    color: LINK_TEXT;
}

.bold > a
{
    font-weight: bold;
}

pre
{
    padding: .5em 1em;
}

pre, code
{
    background-color: BLOCK_COLOUR;
    color: BLOCK_TEXT;
    font-size: 0.9em;
}

.toc > ul, .toc > ul li
{
    list-style-type: square;
}

.toc > ul
{
    padding: 0 0 0 40px;
}

i.material-icons
{
    vertical-align: middle;
}

.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active
{
    background-color: BLOCK_COLOUR;
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a
{
    color: BLOCK_TEXT;
}

@media (min-width: 601px)
{
    header.bigmenu, main.bigmenu, footer.bigmenu
    {
        padding-left: 100px;
    }
}
