/**
 * paragoo material theme, based on MaterializeCSS.com
 *
 * Michiel Scholten
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

h1
{
    font-size: 3.5em;
}

h2
{
    font-size: 2.5rem;
}

h3
{
    font-size: 2rem;
}

a
{
    color: LINK_TEXT;
}

.bold > a
{
    font-weight: bold;
}

pre
{
    padding: .5em 1em;
}

pre,
code,
kbd,
samp,
tt
{
    font-family:monospace,monospace;
    font-size:1em;
}

pre, code
{
    background-color: BLOCK_COLOUR;
    color: BLOCK_TEXT;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

.toc > ul, .toc > ul li,
main ul, main ul li
{
    list-style-type: square;
}

.toc > ul
{
    padding: 0 0 0 40px;
}

main ul
{
    padding: 0 0 0 40px;
}

i.material-icons
{
    vertical-align: middle;
}

nav .sidenav-trigger
{
    /* Fix for misalignment of hamburger icon */
    margin: 0;
}

nav .sidenav-trigger i
{
    /* Make the hamburger icon great again */
    font-size: 2.7rem;
}

.sidenav .collapsible-body
{
    padding: 0;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active
{
    background-color: BLOCK_COLOUR;
}

.sidenav .collapsible-body li.active a, .sidenav-fixed .collapsible-body li.active a
{
    color: BLOCK_TEXT;
}

@media (min-width: 980px)
{
    header.bigmenu, main.bigmenu, footer.bigmenu
    {
        padding-left: 300px;
    }
}

main
{
    min-height: 60vh;
    display: flex;
    flex-grow: 1;
}


/* Great timeline from https://codepen.io/melnik909/pen/qPjwvq and adapted */

.timeline{
    --timelineMainColor: #4557bb;
    font-size: 16px;
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

    position: relative;
/*    padding-top: 3rem; */
    padding-bottom: 3rem;
}

.timeline:before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    top: 0;
}

.timeline__group{
    position: relative;
}

.timeline__group:not(:first-of-type){
    margin-top: 4rem;
}

.timeline__year{
    padding: .5rem 1.5rem;
    color: var(--uiTimelineSecondaryColor);
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    left: 0;
    top: 0;
}

.timeline__box{
    position: relative;
}

.timeline__box:not(:last-of-type){
    margin-bottom: 30px;
}

.timeline__box:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    left: 0;
    z-index: -1;
}

.timeline__date{
    min-width: 65px;
    position: absolute;
    left: 0;

    box-sizing: border-box;
    padding: .5rem 1.5rem;
    text-align: center;

    background-color: var(--uiTimelineMainColor);
    color: var(--uiTimelineSecondaryColor);
}

.timeline__day{
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
}

.timeline__month{
    display: block;
    font-size: .8em;
    text-transform: uppercase;
}

.timeline__post{
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border-left: 3px solid var(--uiTimelineMainColor);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: var(--uiTimelineSecondaryColor);

    color: #000;
}

@media screen and (min-width: 641px)
{

    .timeline:before{
        left: 30px;
    }

    .timeline__group{
        padding-top: 55px;
    }

    .timeline__box{
        padding-left: 80px;
    }

    .timeline__box:before{
        top: 50%;
        transform: translateY(-50%);
    }

    .timeline__date{
        top: 50%;
        margin-top: -27px;
    }
}

@media screen and (max-width: 640px)
{

    .timeline:before{
        left: 0;
    }

    .timeline__group{
        padding-top: 40px;
    }

    .timeline__box{
        padding-left: 20px;
        padding-top: 70px;
    }

    .timeline__box:before{
        top: 90px;
    }

    .timeline__date{
        top: 0;
    }
}
